body{
  background-color: #d1d1d1;
}

input {
  font-size: 20px;
  padding: 5px;
  margin: 5px 0;
}

.conteinerForm {
  height: 70vh;
}


.conteinerForm > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.con {
  border: 1px solid;
  border-radius: 5px;
  height: auto;
  padding: 20px;
  background-color: #fff;
}

.con > h1 {
  margin: 50px;
  text-align: center;
}

.btn{
  width: 100%;
  padding: 5px;
  font-size: 20px;
}