.inputBuscar__item {
  font-size: 20px;
  padding: 10px 0 10px 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid;
  width: 500px;

  position: relative;
}

.inputBuscar__item::-webkit-search-cancel-button {
  display: none;
}

.search {
  right: 505px;
}
