.conteinerInfo {
  display: flex;
  padding: 20px;

  justify-content: space-evenly;
}

.infoProducto {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nombreProducto {
  display: flex;
  gap: 5px;
}
/* prueba */

.nombre {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid;

  padding: 20px;
}

button {
  font-size: 20px;
  padding: 10px;
  background-color: #77ff51;
  border: 2px solid;
}

button:active {
  background-color: red;
}
