.masInformacion {
  margin: 2%;
}

.masInformacion > .redes > h4 {
  text-align: center;
  padding: 3%;
}

.masInformacion > .redes > ul {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.redesSosialiesFB > a {
  color: #4267B2;
}

.redesSosialiesTW > a {
  color: #1DA1F2;
}


.redesSosialiesYT > a {
  color: #FF0000;
}


.redesSosialiesGH > a {
  color: #171515;
}
