@media screen and (max-width: 1200px) {
  .listaFooter > ul {
    display: flex;
    text-align: center;
  }

  .listaFooter > ul > li > a {
    margin: 20px;
  }

  .movil {
    display: initial;
  }
  header {
    flex-direction: column;
    justify-content: none;
  }

  .movil > nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .searchMovil {
    margin: 10px 0;
  }
  .searchMovil > input {
    padding: 5px;
    font-size: 20px;
  }

  .movil > nav > a:nth-child(2) {
    color: black;
  }

  .nav {
    display: none;
  }

  .searchDiv {
    display: none;
  }
}
